html{
    background-image: url("images/pub.jpg");
}

body{
    margin: 0;
}

@font-face {
    font-family: "OpenSans";
    src: url(./OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Cutive";
    src: url(./Cutive-Regular.ttf);
}

@font-face {
    font-family: "Lobster";
    src: url(./Lobster-Regular.ttf)
}

div{
}

.restaurantHeader{
    background-color: rgba(8, 8, 7, 0.8);
    /*rgb(0, 35, 115);*/
    display: flex;
    justify-content: space-between;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 25px 20px -20px;
}

.headerButtons{
    display: flex;
    justify-content: right;
    margin-right: 50px;
    gap: 20px;
}

.headerButton{
    background-color: transparent;
    color: white;
    /*color: rgb(205, 0, 25);*/
    font-family: "OpenSans";
    font-size: 24px;
    border: 0;
}
.headerButton:hover{
    transform: scale(1.1);
    color:tomato;
}

.headerTab{
    text-decoration: underline;
    text-decoration-color: tomato;
    text-decoration-thickness: 4px;
}

h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    padding-top: 50px;
    text-align: center;
    font-family: "Lobster";
}

h2{
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
    margin-left: 50px;
    font-family: "Lobster";
}

h3{
    color: white;
    font-family: "Cutive";
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 10px;
}

.homeText{
    color: white;
    font-size: 18px;
    margin: 0 50px 0 50px;
    padding-bottom: 100px;
    font-family: "OpenSans";
}

.centeredText{
    white-space: pre-line;
    color: white;
    font-size: 18px;
    margin: 0 50px 0 50px;
    text-align: center;
    font-family: "OpenSans";
}

.contentPanel{
    margin: 100px 15% 0 15%;
    background-color: rgba(8, 8, 7, 0.8);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px, rgba(0, 0, 0, 0.32) 0px 15px 12px;
    /*background-color: rgba(36, 15, 7, 0.8);*/
}

.menuPanel{
    display: block;
    margin: 50px 12% 0 12%;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px, rgba(0, 0, 0, 0.32) 0px 15px 12px;
    border-radius: 8px;
}

.menuHeader{
    font-family: "Cutive";
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 10px;
}
.menuSubHeader{
    font-family: "Cutive";
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
}

.menu{
    display: grid;
    grid-template-columns: repeat(auto-fill, minMax(Max(250px, 35%), 2fr));
    margin: 0 5% 0 5%;
    row-gap: 40px;
    column-gap: 50px;

}

.menuItem{
    background-color: white;
}

.menuItemNameTag{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.menuItemName{
    font-family: "Cutive";
    font-size: 22px;
    font-weight: 700;
    color: rgb(27, 26, 29);
}

span{
    flex: 1;
    overflow: hidden;
    font-family: "Cutive";
    font-size: 16px;
    font-weight: 500;
}

.menuItemPrice{
    font-family: "Cutive";
    font-size: 24px;
    font-weight: 800;
}

.menuItemDescription{
    font-family: "Cutive";
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    padding-top: 5px;
}

